.list{
  display: flex;

}
.q-list{
  display: flex;
  flex-direction: column;
}
.rowTheme{
  border: 1px solid black;
 width: 200px;
 height:150px;
 margin:0;
 padding:0;
}
 .rows{
  display: flex;
 }
 .question{
  border: 1px solid black;
 width: 200px;
 height: 150px;
 margin:0;
 padding:0;
 }
 .question:hover{
  background-color: aqua;
 }
 .question:active{
  background-color: rgb(67, 162, 35);
 }